. {
    display:flex;
    flex-direction: column;
    height:100%;
    width:100%;
}
.uml-container {
    position:absolute;
    top:var(--spacer);
    bottom:var(--spacer);
    left:var(--spacer);
    right:var(--spacer);
    display:flex;
    flex-direction: column;
}
.uml-source {
    flex:0.4;
}
.uml-display {
    flex:1;
    overflow:auto;
    display:flex;
    align-items: center;
    justify-content:center;
    position:relative;
}
.uml-display IMG {
    object-fit: scale-down;
}
.uml-controls {
    display: flex;
    flex-direction: row;
    margin-top:var(--spacer);
}
.uml-controls BUTTON {
    width:150px;
}
